<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="style.css">
    <title>Warehouse Truck</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
</head>
<body id="bg-img">
    <!-- <py-script src="test.py"></py-script> -->
    <header>
        <div class="back-btn">
            <form action="/main" method="get">
                <button id="button-submit">
                    <img id ="menubtn-image" src="/back-button.png">
                </button>  
            </form>
        </div>
        <div class="zoom-btn">
            <button id="button-submit">
                <img id ="menubtn-image" src="/zoom-button.png">
            </button>  
        </div>
        <div class="menu-btn">
            <button id="button-submit">
                <img id ="menubtn-image" src="/menu-button.png">
            </button>  
        </div>

        <nav class="menu">
            <div class="menu-branding">
                <div class="portrait">
                    
                </div>
            </div>
            <ul class="menu-nav">
                <li class="nav-item current">
                    <a href="#home" class="nav-link">
                       Location
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">
                        AGV Error state
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#work" class="nav-link">
                        Emergency stop
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">
                        FrontScanner Proximity Scanning
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main id="home">
        <img id ="mapview" src="/control-view-direction.png">
    </main>
    <footer id="main-footer">
        Copyright &copy; 2023
    </footer>
    <script>
    </script>
</body>
</html>