<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="style.css">
    <title>AGV Screen</title>
    <meta http-equiv="refresh" content="5">
</head>
<body>
    <header>
        <div class="menu-btn">
            <div class="btn-line"></div>
            <div class="btn-line"></div>
            <div class="btn-line"></div>
        </div>

        <nav class="menu">
            <div class="menu-branding">
                <div class="portrait">

                </div>
            </div>
            <ul class="menu-nav">
                <li class="nav-item current">
                    <a href="#home" class="nav-link">
                       Location
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">
                        AGV Error state
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#work" class="nav-link">
                        Emergency stop
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">
                        FrontScanner Proximity Scanning
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main id="home" class="home-about">
        <img id="AGV-image" src="/{%IMG%}" class="AGV-Green">
     </main>
    <footer id="main-footer">
        Copyright &copy; 2023
    </footer>
</body>
</html>